.header__wrapper {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 105px;
}

.header__wrapper_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  padding-bottom: 155px;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__description-tab {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 14px;
  color: #FFBB01;
  display: inline-block;
  margin-top: 34px;
}

.main__description-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.main__description-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  max-width: 420px;
  margin-bottom: 38px;
}

.main__description_button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2E2E30;
  padding: 24px 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDDE76), to(#FFBB01));
  background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
  border-radius: 5px 5px 10px 10px;
  outline: none;
}

.main__avatar {
  width: 380px;
  height: 380px;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid white;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__avatar-pic {
  width: 380px;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%), #20202D;
}

.container {
  max-width: 945px;
  margin: auto;
}

.section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.features {
  padding-top: 64px;
  padding-bottom: 92px;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 84px;
}

.features__wrapper_item {
  max-width: 288px;
}

.features__wrapper_item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 22px;
  color: #FFFFFF;
}

.features__wrapper_item-text {
  font-family: Roboto;
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.features__wrapper_item-pic {
  width: 50px;
  height: 50px;
}

#mt63 {
  margin-top: 63px;
}

.projects {
  padding-top: 135px;
  padding-bottom: 108px;
}

.section-title {
  margin-bottom: 76px;
  display: inline-block;
}

.swiper {
  position: relative;
}

.swiper-pagination {
  left: 50%;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70px;
}

.swiper-pagination-bullet {
  border: 2px solid #FFBB01;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background: #FFBB01;
  border: 2px solid #FFBB01;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-button-prev {
  color: #FFBB01;
  position: absolute;
  left: 70px;
}

.swiper-button-next {
  color: #FFBB01;
  right: 70px;
}

.swiper-slide-img {
  width: 338px;
  height: 268px;
}

.swiper-slide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-slide_wrapper {
  max-width: 527px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide_wrapper-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.swiper-slide_wrapper_block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 180px;
  margin-top: 40px;
}

.swiper-slide_wrapper_block_item-link {
  margin-top: 15px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.swiper-slide_wrapper_block_item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
  color: #FFFFFF;
}

.swiper-slide_wrapper_block_item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 107px;
}

.swiper-slide_wrapper_block_item-img {
  width: 30px;
  height: 30px;
}

.swiper-slide_wrapper_block_item-wrap {
  margin-left: 16px;
}

.swiper-slide_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mt67 {
  margin-top: 67px;
}
/*# sourceMappingURL=style.css.map */