.contact
    &__container
        &_form

            background: #FFFFFF
            box-shadow: -5px 5px 0px #FFC41D
            border-radius: 5px
            max-width: 380px
            &-title
                font-family: Roboto
                font-style: normal
                font-weight: bold
                font-size: 18px
                line-height: 28px

                text-align: center
                max-width: 285px
                color: #000000

.footer
    &__form

        &-pic
            background: transparent
            position: absolute
            margin-left: 20px
            margin-right: 12px
            margin-top: 18px

    &__input
        background: #F8F8F8
        box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25)
        border-radius: 5px
        outline: none
        border: none
        padding-top: 18px
        padding-bottom: 18px
        padding-left: 50px
        padding-right: 20px
        &::placeholder
            font-family: Roboto
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 28px

            display: flex
            align-items: center

            color: #949494
